.idea/shelf/Uncommitted_changes_before_Checkout_at_27_07_2021_14_01_[De filter=lfs diff=lfs merge=lfs -text
wrapper/dists/gradle-6.8-bin/1jblhjyydfkclfzx1agp92nyl/gradle-6.8-bin.z filter=lfs diff=lfs merge=lfs -text
.idea/shelf/Uncommitted_changes_before_Checkout_at_27_07_2021_14_31_[De filter=lfs diff=lfs merge=lfs -text
.idea/shelf/Uncommitted_changes_before_Checkout_at_27_07_2021_14_01_[Default_Changelist]/gradle-lib.jar filter=lfs diff=lfs merge=lfs -text
.idea/shelf/Uncommitted_changes_before_Checkout_at_27_07_2021_14_01_[Default_Changelist]/gradle-lib1.jar filter=lfs diff=lfs merge=lfs -text
wrapper/dists/gradle-6.8-bin/1jblhjyydfkclfzx1agp92nyl/gradle-6.8-bin.zip filter=lfs diff=lfs merge=lfs -text
.idea/shelf/Uncommitted_changes_before_Checkout_at_27_07_2021_14_01_[Default_Changelist]/android1.jar filter=lfs diff=lfs merge=lfs -text
.idea/shelf/Uncommitted_changes_before_Checkout_at_27_07_2021_14_01_[Default_Changelist]/android.jar filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/e2/77/e2774e6fb77c43657decde25542dea710aafd78c4022d19b196e7e78d79d8c6c filter=lfs diff=lfs merge=lfs -text
.git/objects/1e/561223a648232fdf55444dea18c315309c0708 filter=lfs diff=lfs merge=lfs -text
.idea/shelf/Uncommitted_changes_before_Checkout_at_27_07_2021_14_01_[Default_Changelist]1/gradle-lib.jar filter=lfs diff=lfs merge=lfs -text
.idea/shelf/Uncommitted_changes_before_Checkout_at_27_07_2021_14_31_[Default_Changelist]/gradle-lib.jar filter=lfs diff=lfs merge=lfs -text
.idea/shelf/Uncommitted_changes_before_Checkout_at_27_07_2021_14_31_[Default_Changelist]/gradle-lib1.jar filter=lfs diff=lfs merge=lfs -text
.idea/shelf/Uncommitted_changes_before_Checkout_at_27_07_2021_14_31_[Default_Changelist]1/gradle-lib.jar filter=lfs diff=lfs merge=lfs -text
.idea/shelf/Uncommitted_changes_before_Checkout_at_27_07_2021_15_22_[Default_Changelist]/gradle-lib.jar filter=lfs diff=lfs merge=lfs -text
.idea/shelf/Uncommitted_changes_before_Checkout_at_27_07_2021_15_22_[Default_Changelist]/gradle-lib1.jar filter=lfs diff=lfs merge=lfs -text
.idea/shelf/Uncommitted_changes_before_Checkout_at_27_07_2021_15_22_[Default_Changelist]1/gradle-lib.jar filter=lfs diff=lfs merge=lfs -text
.idea/shelf/Uncommitted_changes_before_Checkout_at_27_07_2021_18_34_[Default_Changelist]/gradle-lib.jar filter=lfs diff=lfs merge=lfs -text
.idea/shelf/Uncommitted_changes_before_Checkout_at_27_07_2021_18_34_[Default_Changelist]/gradle-lib1.jar filter=lfs diff=lfs merge=lfs -text
.idea/shelf/Uncommitted_changes_before_Checkout_at_27_07_2021_18_34_[Default_Changelist]1/gradle-lib.jar filter=lfs diff=lfs merge=lfs -text
.idea/shelf/Uncommitted_changes_before_Checkout_at_27_07_2021_22_36_[Default_Changelist]/gradle-lib.jar filter=lfs diff=lfs merge=lfs -text
.idea/shelf/Uncommitted_changes_before_Checkout_at_27_07_2021_22_36_[Default_Changelist]/gradle-lib1.jar filter=lfs diff=lfs merge=lfs -text
.idea/shelf/Uncommitted_changes_before_Checkout_at_27_07_2021_22_36_[Default_Changelist]1/gradle-lib.jar filter=lfs diff=lfs merge=lfs -text
.idea/shelf/Uncommitted_changes_before_Checkout_at_28_07_2021_14_36_[Default_Changelist]/gradle-lib.jar filter=lfs diff=lfs merge=lfs -text
.idea/shelf/Uncommitted_changes_before_Checkout_at_28_07_2021_14_36_[Default_Changelist]/gradle-lib1.jar filter=lfs diff=lfs merge=lfs -text
.idea/shelf/Uncommitted_changes_before_Checkout_at_28_07_2021_14_36_[Default_Changelist]/gradle-lib2.jar filter=lfs diff=lfs merge=lfs -text
.idea/shelf/Uncommitted_changes_before_Checkout_at_28_07_2021_14_36_[Default_Changelist]/gradle-lib3.jar filter=lfs diff=lfs merge=lfs -text
.idea/shelf/Uncommitted_changes_before_Checkout_at_28_07_2021_14_36_[Default_Changelist]1/gradle-lib.jar filter=lfs diff=lfs merge=lfs -text
.idea/shelf/Uncommitted_changes_before_Checkout_at_28_07_2021_15_10_[Default_Changelist]/gradle-lib.jar filter=lfs diff=lfs merge=lfs -text
.idea/shelf/Uncommitted_changes_before_Checkout_at_28_07_2021_15_10_[Default_Changelist]/gradle-lib1.jar filter=lfs diff=lfs merge=lfs -text
.idea/shelf/Uncommitted_changes_before_Checkout_at_28_07_2021_15_10_[Default_Changelist]/gradle-lib2.jar filter=lfs diff=lfs merge=lfs -text
.idea/shelf/Uncommitted_changes_before_Checkout_at_28_07_2021_15_10_[Default_Changelist]/gradle-lib3.jar filter=lfs diff=lfs merge=lfs -text
.idea/shelf/Uncommitted_changes_before_Checkout_at_28_07_2021_15_10_[Default_Changelist]1/gradle-lib.jar filter=lfs diff=lfs merge=lfs -text
caches/jars-8/1717c4b9d4caafd3b7e3b99614f81f67/gradle-lib.jar filter=lfs diff=lfs merge=lfs -text
caches/jars-8/o_907e4b0826a5421ac8283243f4daf653/gradle-lib.jar filter=lfs diff=lfs merge=lfs -text
